extends layout.pug
block content
    br
    h1 Dina anteckningar
    include search.pug
    a(href="/add/notes", class="addButton")
        i(class="fas fa-pencil-alt", id="addIcon") &nbsp Ny anteckning
    br
    ul(class="notes")
        if notMatch
            h2 #{prompt}
        if searched
            a(href="/" class="goBack")  
                i(class="fas fa-arrow-left") 
                    span Alla anteckningar
            each item in searched
                h2 du har sökt på #{item.todo.charAt(0).toUpperCase() + item.todo.slice(1)}
                include note.pug

        else    
            each item, index in list
                include note.pug